@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito";
  font-weight: 400;
}
.logo {
  background-image: linear-gradient(205deg, #7ed957, #2196f3);
  background-clip: text;
  color: transparent;
}
.category {
  background-image: linear-gradient(205deg, #7ed957, #2196f3);
}
.category1 {
  background-image: linear-gradient(335deg, #7ed957, #2196f3);
}
.category2 {
  background-image: linear-gradient(25deg, #7ed957, #2196f3);
}
.category3 {
  background-image: linear-gradient(155deg, #7ed957, #2196f3);
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(205deg, #7ed957, #2196f3);
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}

.map-container {
  width: 100%;
  height: 600px;
}
.map-container-institution {
  width: 100%;
  height: 350px;
}
